<p>
<table width="70%" border="1" align="center" borderColor=#33B552 cellpadding="20" cellspacing="30">
<volist name='list' id='vo'>
        
                <th><a href="{:U('Post/topic',array('pid'=>$vo['pid']))}" style="font-size: 30px; color: #777;">{$vo.title}</a></th>
                <tr>
                    <td height="48"><p>{$vo.content}</p></td>
        </tr>
        <tr>
            <td style="text-align: right">作者:{$vo.uid|id2name}</td>
        </tr>
</volist>
<if condition="!$list">
    <tr><td><center><h1>暂无文章,首次使用请先<a style="color: darkred" href="{:U('User/reg')}">添加管理员</a></br>若已添加,请<a style="color: darkred" href="{:U('User/login')}">登录</a>或<a style="color: darkred" href="{:U('Post/write')}">写文</a></h1></center></td></tr>
</if>
</table>
</p>
<table align="center">
    <tr><td style="text-align: center">{$page}</td></tr>
</table>
